<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi Blog</title>
<link rel="stylesheet" href="../static/css/estilo.css"></head>
<body>

    <header>
        <h1>Mi Blog</h1>
        <nav>
            <a href="#">Inicio</a>
            <a href="#">Acerca de</a>
        </nav>
    </header>

    <main>
        <article>
            <h2>Mi primer post</h2>
            <p>Este es el contenido de mi primer artículo del blog.</p>
        </article>

        <article>
            <h2>Otro post interesante</h2>
            <p>Aquí va otro artículo, para ver varios juntos.</p>
        </article>
    </main>

    <footer>
        <p>© 2026 Wilberth. Todos los derechos reservados.</p>
    </footer>

</body>
</html>