<!DOCTYPE html>
<html lang="es">
<header>
    <h1>Mi Blog</h1>
    <nav>
        <a href="/">Inicio</a>

        {% if current_user.is_authenticated %}
            <a href="/admin">Panel de administración</a>
            <a href="/logout">Cerrar sesión</a>
        {% else %}
            <a href="/login">Iniciar sesión</a>
        {% endif %}
    </nav>
</header>
    <main>
<button id="btn-actualizar">Actualizar posts (con JS)</button>
<div id="contenedor-posts-js"></div>
    {% for post in posts %}
        <article>
            <h2>{{ post[1] }}</h2>
            <p>{{ post[2] }}</p>
            <small>{{ post[3] }}</small>
        </article>
    {% endfor %}
</main>

    <footer>
        <p>© 2026 Wilberth. Todos los derechos reservados.</p>
    </footer>
<script src="/static/js/script.js"></script>
</body>
</html>