<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi Blog</title>
<link rel="stylesheet" href="/static/css/estilo.css">
<body>

    <header>
        <h1>Mi Blog</h1>
        <nav>
            <a href="#">Inicio</a>
            <a href="#">Acerca de</a>
        </nav>
    </header>

    <main>
    {% for post in posts %}
        <article>
            <h2>{{ post[1] }}</h2>
            <p>{{ post[2] }}</p>
            <small>{{ post[3] }}</small>
        </article>
    {% endfor %}
</main>

    <footer>
        <p>© 2026 Wilberth. Todos los derechos reservados.</p>
    </footer>

</body>
</html>